body {
	margin: 0;
	background-color: black;
}

.modal {
	position: fixed;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	z-index: 10;
	outline: 9999px solid rgba(0,0,0,0.5);
	background-color: white;
	box-sizing: border-box;
	padding: 3em;
}

/**
 * menu
 */

#menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 30em;
	height: 5em;
	/*background-color: green;*/
}

#menu ul {
	display: none;
	font-size: 3em;
	color: rgba(0, 0, 0, 0.5);
	margin: 0;
	text-align: right;
	padding-right: 0.3em;
}

#menu li {
	/*background-color: blue;*/
	padding: 0.2em;
	border-radius: 0.2em;
	cursor: pointer;
}

#menu li:hover {
	color: rgba(0, 0, 0, 0.2);
}

#menu li:active {
	background-color: rgba(255, 0, 0, 0.4);
}

#menu:hover ul {
	display: block;
}

/**
 * slide
 */

#slide {
	max-width: 100%;
	max-height: 100%;
	line-height: 100%;
	text-align: center;
	display: none;
}

#slide img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: white;
}

/**
 * search
 */

#search input {
	font-size: 2em;
	width: 100%;
}

/**
 * search
 */

 #toc {
 	font-size: 2em;
 }