.metadata {
    padding-top: 0.2vw;
    position: absolute;
    width: 100%;
  }

  .people {
    display: flex;
    font-size: 1.5vw;
    width: 95%;
  }

  .people > div {
    flex: 1;
  }

  .composer {
    text-align: right;
  }

  .lyricist {
    text-align: left;
  }

  h1, h2 {
    font-family: 'Alegreya Sans' !important;
    margin: 1vw;
  }

  h1 {
    font-size: 3vw;
  }

  h2 {
    font-size: 2vw;
  }

  section {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
  }

  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: white;
  }

  .slide-number {
    padding: 1vw;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    font-size: 1vw;
    opacity: 0;
  }

  .fade-out {
    animation: fadeout 2s linear forwards;
  }

  @keyframes fadeout {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

ul {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 3em;
  margin: 0;
  width: 15em;
  height: 3em;
}

li {
  font-size: 3em;
  display: none;
}

ul:hover li {
  display: inline-block;
}
