[data-master="question"] #slide-content {
  padding-left: 20%;
  padding-right: 20%;
}

[data-master="question"] .answer {
  font-style: italic;
}

[data-master="question"] p {
  margin: 0;
}

[data-master="question"] li {
  margin-top: 2vw;
  margin-bottom: 2vw;
}
