[submodule "lib/fontawesome"]
	path = lib/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "lib/mousetrap"]
	path = lib/mousetrap
	url = https://github.com/ccampbell/mousetrap.git
