[submodule "lib/fontawesome"]
	path = songbook/app/lib/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "lib/mousetrap"]
	path = songbook/app/lib/mousetrap
	url = https://github.com/ccampbell/mousetrap.git
[submodule "lib/jquery"]
	path = songbook/app/lib/jquery
	url = https://github.com/jquery/jquery-dist.git
[submodule "songbook/songs"]
	path = songbook/app/songs
	url = ssh://git@git.friedrich.rocks:60022/content/lieder.git
[submodule "lib/listjs"]
	path = songbook/app/lib/listjs
	url = https://github.com/javve/list.js.git
