@import 'node_modules/font-awesome/css/font-awesome.min.css';
@import 'node_modules/selectize/dist/css/selectize.default.css';

body {
	margin: 0;
}

/**
 * modal
 */

.modal {
	position: fixed;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	z-index: 10;
	outline: 9999px solid rgba(0,0,0,0.5);
	background-color: white;
	box-sizing: border-box;
	padding: 3em;
}

.modal .close {
	font-size: 18pt;
	padding: 10pt;
	position: absolute;
	top: 0;
	right: 0;
}

/**
 * button
 */

.button {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.5);
}

.button:hover {
	color: rgba(0, 0, 0, 0.2);
}

.button:active {
	color: rgba(255, 0, 0, 0.4);
}

/**
 * Table of contents
 */

#tableofcontents #toc-field {
	overflow-y: scroll;
	height: 90%;
}

/**
 * search selectize overrides
 */
.selectize-dropdown {
	font-size: 2em;
	line-height: 1em;
}
.selectize-input input {
	font-size: 3em;
}

/**
 * menu
 */

#menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 30em;
	height: 5em;
}

#menu ul {
	display: none;
	font-size: 3em;
	margin: 0;
	text-align: right;
	padding-right: 0.3em;
}

#menu li {
	padding: 0.2em;
	border-radius: 0.2em;
}

#menu:hover ul {
	display: block;
}

/**
 * slide
 */

#slide {
	max-width: 100%;
	max-height: 100%;
	line-height: 100%;
	text-align: center;
}

#slide img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: white;
}

#slide ul {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	padding: 3em;
	margin: 0;
	width: 15em;
	height: 3em;
}

#slide li {
	font-size: 3em;
	display: none;
}

#slide ul:hover li {
	display: inline-block;
}

/**
 * Typography
 */

body, input {
	font-family: Alegreya !important;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: black;
}

a:hover {
	color: rgba(0, 0, 0, 0.2);
}

a:active {
	color: rgba(255, 0, 0, 0.4);
}
