@font-face {
  font-family: "Baldr Icons";
  src: url("./baldr-icons.woff2") format("woff2"), url("./baldr-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.baldr-icons:before,
.baldr-icons-set {
  display: inline-block;
  font: normal normal normal 24px/1 "Baldr Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.baldr-icons-access-point::before {
  content: "\F002";
}

.baldr-icons-account-group::before {
  content: "\ea01";
}

.baldr-icons-account-plus::before {
  content: "\ea02";
}

.baldr-icons-account-star-outline::before {
  content: "\ea03";
}

.baldr-icons-air-filter::before {
  content: "\ea04";
}

.baldr-icons-arrow-left::before {
  content: "\ea05";
}

.baldr-icons-chevron-down::before {
  content: "\ea06";
}

.baldr-icons-chevron-left::before {
  content: "\ea07";
}

.baldr-icons-chevron-right::before {
  content: "\ea08";
}

.baldr-icons-chevron-up::before {
  content: "\ea09";
}

.baldr-icons-close::before {
  content: "\ea0a";
}

.baldr-icons-cloud::before {
  content: "\ea0b";
}

.baldr-icons-content-save::before {
  content: "\ea0c";
}

.baldr-icons-delete::before {
  content: "\ea0d";
}

.baldr-icons-dice-multiple::before {
  content: "\ea0e";
}

.baldr-icons-export::before {
  content: "\ea0f";
}

.baldr-icons-file-outline::before {
  content: "\ea10";
}

.baldr-icons-google-spreadsheet::before {
  content: "\ea11";
}

.baldr-icons-import::before {
  content: "\ea12";
}

.baldr-icons-magnify::before {
  content: "\ea13";
}

.baldr-icons-musescore::before {
  content: "\ea14";
}

.baldr-icons-notebook::before {
  content: "\ea15";
}

.baldr-icons-open-in-new::before {
  content: "\ea16";
}

.baldr-icons-table-of-contents::before {
  content: "\ea17";
}

.baldr-icons-test-tube::before {
  content: "\ea18";
}

.baldr-icons-timeline-text::before {
  content: "\ea19";
}

.baldr-icons-video-switch::before {
  content: "\ea1a";
}

.baldr-icons-wikidata::before {
  content: "\ea1b";
}

.baldr-icons-wikipedia::before {
  content: "\ea1c";
}

.baldr-icons-worker::before {
  content: "\ea1d";
}

.baldr-icons-youtube::before {
  content: "\ea1e";
}
