@font-face {
  font-family: "Baldr Icons";
  src: url("./baldr-icons.woff2") format("woff2"), url("./baldr-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.baldr-icons,
.baldr-icons:before {
  display: inline-block;
  font: normal normal normal 24px/1 "Baldr Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.baldr-icon_account-group::before {
    content: "\ea01";
  }
  
.baldr-icon_account-plus::before {
    content: "\ea02";
  }
  
.baldr-icon_account-star::before {
    content: "\ea03";
  }
  
.baldr-icon_air-filter::before {
    content: "\ea04";
  }
  
.baldr-icon_arrow-left::before {
    content: "\ea05";
  }
  
.baldr-icon_baldr::before {
    content: "\ea06";
  }
  
.baldr-icon_cctv::before {
    content: "\ea07";
  }
  
.baldr-icon_chevron-down::before {
    content: "\ea08";
  }
  
.baldr-icon_chevron-left::before {
    content: "\ea09";
  }
  
.baldr-icon_chevron-right::before {
    content: "\ea0a";
  }
  
.baldr-icon_chevron-up::before {
    content: "\ea0b";
  }
  
.baldr-icon_close::before {
    content: "\ea0c";
  }
  
.baldr-icon_cloud::before {
    content: "\ea0d";
  }
  
.baldr-icon_delete::before {
    content: "\ea0e";
  }
  
.baldr-icon_dice-multiple::before {
    content: "\ea0f";
  }
  
.baldr-icon_export::before {
    content: "\ea10";
  }
  
.baldr-icon_file-outline::before {
    content: "\ea11";
  }
  
.baldr-icon_google-spreadsheet::before {
    content: "\ea12";
  }
  
.baldr-icon_import::before {
    content: "\ea13";
  }
  
.baldr-icon_magnify::before {
    content: "\ea14";
  }
  
.baldr-icon_musescore::before {
    content: "\ea15";
  }
  
.baldr-icon_music::before {
    content: "\ea16";
  }
  
.baldr-icon_notebook::before {
    content: "\ea17";
  }
  
.baldr-icon_open-in-new::before {
    content: "\ea18";
  }
  
.baldr-icon_save::before {
    content: "\ea19";
  }
  
.baldr-icon_seat-outline::before {
    content: "\ea1a";
  }
  
.baldr-icon_table-of-contents::before {
    content: "\ea1b";
  }
  
.baldr-icon_test-tube::before {
    content: "\ea1c";
  }
  
.baldr-icon_timeline-text::before {
    content: "\ea1d";
  }
  
.baldr-icon_video-switch::before {
    content: "\ea1e";
  }
  
.baldr-icon_wikidata::before {
    content: "\ea1f";
  }
  
.baldr-icon_wikipedia::before {
    content: "\ea20";
  }
  
.baldr-icon_worker::before {
    content: "\ea21";
  }
  
.baldr-icon_youtube::before {
    content: "\ea22";
  }
  