@import './default-vars.scss';
// Fonts is very slow because of the base64 encoded font files.
//@import './fonts.scss';

@mixin important {
  font-family: 'Alegreya Sans';
  font-weight: bolder;
}

/**********************************************************************
 * all: ui + content
 *********************************************************************/

//$link-color: scale-color($gray, $lightness: -40%);
$link-color: scale-color($blue, $lightness: -30%);

[b-ui-theme='default'],
[b-content-theme='default'] {
  :fullscreen {
    background-color: $white;
  }

  /**
   * Typography
   */
  font-family: $font-family;
  //font-size: $font-size;

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Alegreya Sans';
    font-weight: 700;
  }

  // @click activated link like elements
  a,
  .link {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;

    &:link,
    &:visited {
      color: $link-color;
    }

    &:focus {
      border-bottom: 1px solid;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      color: $red;
    }
  }

  code {
    font-family: $font-family-mono;
    background-color: scale-color($gray, $lightness: 50%);
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0.1em;
  }

  pre {
    background-color: scale-color($gray, $lightness: 50%);
    padding: 0.3em;
    overflow-y: auto;

    code {
      padding: 0;
      background-color: none;
    }
  }

  /**
   * Semantic
   */

  .important {
    @include important;
  }

  .person {
    font-family: $font-family-small-caps;
  }

  h1 .person,
  h2 .person,
  h3 .person,
  .important.person {
    font-family: $font-family-sans-small-caps;
  }

  em.person {
    font-style: normal;
  }

  .piece {
    font-style: italic;
  }

  .genre {
    font-family: $font-family-mono;
    font-style: normal !important;
    font-size: 0.7em;
    padding: 0 0.2em;
    display: inline-block;
  }

  .term {
    font-family: $font-family-sans;
    font-weight: bold;
  }

  .sans {
    font-family: $font-family-sans;
  }

  /**
   * Tables
   */

  table {
    border-collapse: collapse;

    th {
      @include important;
    }

    td,
    th {
      padding: 0.1em 0.6em;
    }

    thead {
      tr {
        border-bottom: 2px solid $black;
      }
      th {
        text-align: left;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $black;
      }

      tr:last-child {
        border-bottom: none;
      }
    }
  }

  /**
   * Forms
   */

  input,
  button {
    display: inline-block;
    padding: 0.2em;
    margin: 0;
  }

  input,
  button,
  ::placeholder {
    font-size: inherit;
    font-family: $font-family-sans;
  }

  input {
    border: 1px solid $gray;
  }

  button {
    background-color: $gray;
    border: 1px solid transparent;

    &:active {
      background-color: $blue;
      color: $white;
    }
  }

  /**
   * Colors
   */

  /* Background color */

  @each $name, $value in $colors {
    .#{$name} {
      background-color: $value !important;
    }
  }

  @each $name, $value in $colors {
    .#{$name}-light {
      background-color: scale-color($value, $lightness: 15%) !important;
    }
  }

  @each $name, $value in $colors {
    .#{$name}-dark {
      background-color: scale-color($value, $lightness: -15%) !important;
    }
  }

  /* Highlight text with different colors hl = HighLight */
  @each $name, $value in $colors {
    .hl-#{$name} {
      background-color: rgba($value, 0.7) !important;
      border-radius: 0.1em;
      display: inline-block;
      font-style: inherit;
      padding: 0 0.2em;
    }
  }

  /* Text color */

  @each $name, $value in $colors {
    .text-#{$name} {
      color: $value !important;
    }
  }

  @each $name, $value in $colors {
    .text-#{$name}-light {
      color: scale-color($value, $lightness: 30%) !important;
    }
  }

  @each $name, $value in $colors {
    .text-#{$name}-dark {
      color: scale-color($value, $lightness: -30%) !important;
    }
  }
}

/**********************************************************************
 * ui
 *********************************************************************/

//[b-ui-theme="default"] {
//
//}

/**********************************************************************
 * content
 *********************************************************************/

[b-content-theme='default'] {
  ul {
    list-style-type: none;
    padding-left: 1em;

    ul {
      list-style-type: none;
    }

    & li:before {
      // https://stackoverflow.com/a/41856384
      content: '-';
      position: absolute;
      /* change margin to move dash around */
      margin-left: -1em;
      padding-bottom: 0.2em;
    }
  }
}

/**********************************************************************
 * dark mode = false
 *********************************************************************/

[b-dark-mode='false'] {
  // all
  .text-white {
    color: $black !important;
  }

  .text-white-light {
    color: scale-color($black, $lightness: 30%) !important;
  }

  .text-white-dark {
    color: scale-color($black, $lightness: -30%) !important;
  }

  [b-ui-theme='default'],
  [b-content-theme='default'] {
    background-color: $white;
    color: $black;

    :fullscreen {
      background-color: $white;
    }
  }
}

/**********************************************************************
 * dark mode = true
 *********************************************************************/

[b-dark-mode='true'] {
  // all

  .text-black {
    color: $white !important;
  }

  .text-black-light {
    color: scale-color($white, $lightness: 30%) !important;
  }

  .text-black-dark {
    color: scale-color($white, $lightness: -30%) !important;
  }

  [b-ui-theme='default'],
  [b-content-theme='default'] {
    background-color: $black;
    color: $white;

    :fullscreen {
      background-color: $black;
    }

    a,
    .link {
      color: $white;

      &:link,
      &:visited {
        color: $white;
      }
    }

    code {
      color: $black;
    }
  }
}
