
@font-face {
  font-family: "Baldr Icons";
  src: url("./baldr-icons.woff2") format("woff2"), url("./baldr-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.baldr-icon,
.baldr-icon::before {
  display: inline-block;
  font: normal normal normal 24px/1 "Baldr Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.baldr-icon-spin:before {
  animation: baldr-icon-spin 4s infinite linear;
}

@keyframes baldr-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.baldr-icon_account-group::before {
  content: "\ea01";
}

.baldr-icon_account-plus::before {
  content: "\ea02";
}

.baldr-icon_account-star::before {
  content: "\ea03";
}

.baldr-icon_air-filter::before {
  content: "\ea04";
}

.baldr-icon_arrow-left::before {
  content: "\ea05";
}

.baldr-icon_baldr::before {
  content: "\ea06";
}

.baldr-icon_chevron-down::before {
  content: "\ea07";
}

.baldr-icon_chevron-left::before {
  content: "\ea08";
}

.baldr-icon_chevron-right::before {
  content: "\ea09";
}

.baldr-icon_chevron-up::before {
  content: "\ea0a";
}

.baldr-icon_close::before {
  content: "\ea0b";
}

.baldr-icon_cloud::before {
  content: "\ea0c";
}

.baldr-icon_cloud-download::before {
  content: "\ea0d";
}

.baldr-icon_cloze::before {
  content: "\ea0e";
}

.baldr-icon_counter::before {
  content: "\ea0f";
}

.baldr-icon_delete::before {
  content: "\ea10";
}

.baldr-icon_dice-multiple::before {
  content: "\ea11";
}

.baldr-icon_document-camera::before {
  content: "\ea12";
}

.baldr-icon_document-camera-off::before {
  content: "\ea13";
}

.baldr-icon_export::before {
  content: "\ea14";
}

.baldr-icon_fadeout::before {
  content: "\ea15";
}

.baldr-icon_file-audio::before {
  content: "\ea16";
}

.baldr-icon_file-document::before {
  content: "\ea17";
}

.baldr-icon_file-image::before {
  content: "\ea18";
}

.baldr-icon_file-outline::before {
  content: "\ea19";
}

.baldr-icon_file-presentation-box::before {
  content: "\ea1a";
}

.baldr-icon_file-tree::before {
  content: "\ea1b";
}

.baldr-icon_file-video::before {
  content: "\ea1c";
}

.baldr-icon_folder-open::before {
  content: "\ea1d";
}

.baldr-icon_fullscreen::before {
  content: "\ea1e";
}

.baldr-icon_google-spreadsheet::before {
  content: "\ea1f";
}

.baldr-icon_image::before {
  content: "\ea20";
}

.baldr-icon_import::before {
  content: "\ea21";
}

.baldr-icon_imslp::before {
  content: "\ea22";
}

.baldr-icon_instrument::before {
  content: "\ea23";
}

.baldr-icon_magnify::before {
  content: "\ea24";
}

.baldr-icon_multi-part::before {
  content: "\ea25";
}

.baldr-icon_musescore::before {
  content: "\ea26";
}

.baldr-icon_music::before {
  content: "\ea27";
}

.baldr-icon_musicbrainz::before {
  content: "\ea28";
}

.baldr-icon_musicbrainz-recording::before {
  content: "\ea29";
}

.baldr-icon_musicbrainz-work::before {
  content: "\ea2a";
}

.baldr-icon_notebook::before {
  content: "\ea2b";
}

.baldr-icon_open-in-new::before {
  content: "\ea2c";
}

.baldr-icon_pause::before {
  content: "\ea2d";
}

.baldr-icon_pencil::before {
  content: "\ea2e";
}

.baldr-icon_person::before {
  content: "\ea2f";
}

.baldr-icon_play::before {
  content: "\ea30";
}

.baldr-icon_play-speed::before {
  content: "\ea31";
}

.baldr-icon_presentation::before {
  content: "\ea32";
}

.baldr-icon_question::before {
  content: "\ea33";
}

.baldr-icon_quote::before {
  content: "\ea34";
}

.baldr-icon_save::before {
  content: "\ea35";
}

.baldr-icon_seat-outline::before {
  content: "\ea36";
}

.baldr-icon_skip-next::before {
  content: "\ea37";
}

.baldr-icon_skip-previous::before {
  content: "\ea38";
}

.baldr-icon_slides::before {
  content: "\ea39";
}

.baldr-icon_steps::before {
  content: "\ea3a";
}

.baldr-icon_table-of-contents::before {
  content: "\ea3b";
}

.baldr-icon_task::before {
  content: "\ea3c";
}

.baldr-icon_test-tube::before {
  content: "\ea3d";
}

.baldr-icon_timeline-text::before {
  content: "\ea3e";
}

.baldr-icon_update::before {
  content: "\ea3f";
}

.baldr-icon_video-switch::before {
  content: "\ea40";
}

.baldr-icon_video-vintage::before {
  content: "\ea41";
}

.baldr-icon_wikicommons::before {
  content: "\ea42";
}

.baldr-icon_wikidata::before {
  content: "\ea43";
}

.baldr-icon_wikipedia::before {
  content: "\ea44";
}

.baldr-icon_window-open::before {
  content: "\ea45";
}

.baldr-icon_worker::before {
  content: "\ea46";
}

.baldr-icon_youtube::before {
  content: "\ea47";
}
