#slide-content {
  padding-left: 20%;
  padding-right: 20%;
}

.text {
  font-style: italic;
}

.quotation-mark {
  font-family: 'Alegreya Sans';
  font-weight: 900;
}

.attribution {
  font-size: 3vw;
  text-align: right;
}

.author {
  font-family: 'Alegreya SC'
}
