[data-master="quote"] #slide-content {
  padding-left: 20%;
  padding-right: 20%;
}

[data-master="quote"] .text {
  font-style: italic;
}

[data-master="quote"] .quotation-mark {
  font-family: 'Alegreya Sans';
  font-weight: 900;
}

[data-master="quote"] .attribution {
  font-size: 3vw;
  text-align: right;
}

[data-master="quote"] .author {
  font-family: 'Alegreya SC'
}
