#slide {
  font-size: 4vw;
  display: table;
}

.text-block {
  padding-left: 20%;
  padding-right: 20%;
  display: table-cell;
  vertical-align: middle;
}

.quote {
  font-style: italic;
}

.quotation-mark {
  font-family: 'Alegreya Sans';
  font-weight: 900;
}

.attribution {
  font-size: 3vw;
  text-align: right;
}

.person {
  font-family: 'Alegreya SC'
}
