@import '~/typeface-kalam/index.css';

@import './globals.scss';

[b-theme="handwriting"] {
  background-color: $handwriting-gray;
  color: $handwriting-blue;
  font-family: $handwriting-font-family;

  [contenteditable] {
    background-color: $handwriting-white;
    padding: 0.3em;
  }

  ul {
    list-style-type: none;

    & li {
      text-indent: -1em;
    }

    & li:before {
      content: "- ";
      text-indent: -1em;
    }
  }

  /**
   * Tables
   */

  $handwriting-border-thin: 0.1vw;
  $handwriting-border-thick: 0.2vw;

  table {
    border-collapse: collapse;
    width: 100%;

    td, th {
      padding: 0 0.3em;
      vertical-align: top;
    }

    td {
      border-right: $handwriting-border-thin solid $handwriting-blue;

      &:last-child {
        border-right: none;
      }
    }

    th {
      text-align: right;
      border-right: $handwriting-border-thick solid $handwriting-blue;
    }
  }

  thead {
    tr {
      border-bottom: $handwriting-border-thick solid $handwriting-blue;
      text-align: left;
      font-weight: bold;
    }
  }

  tbody {
    tr {
      border-bottom: $handwriting-border-thin solid $handwriting-blue;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
