@import '~typeface-alegreya/index.css';
@import '~typeface-alegreya-sans/index.css';
@import '~typeface-alegreya-sans-sc/index.css';
@import '~typeface-alegreya-sc/index.css';

// https://github.com/zoxon/vscode-theme-monokai-light/blob/master/themes/Monokai%20Light%20Theme-color-theme.json
$beige: #75715E;
$yellow: #998f2f;
$blue: #684d99;
$c: #49483e;
$red: #f9005a;
$blue: #0089b3;
$gree: #679c00;
$orange: #cf7000;
$white: #F8F8F0;
$c2: #E0EDDD;
$c3: #dc322f;
$c4: #cb4b16;
$blue-light: #219186;
$c6: #22aa44;
$c7: #9966b8;
$c8: #ddbb88;
// $black: #49483E;
$black: #000000;

body[baldr-theme="default"] {
  font-family: 'Alegreya';
  color: $black;

  h1, h2, h3, h4 {
    font-family: 'Alegreya Sans';
    font-weight: 700;
  }

  a {
    text-decoration: none;

    &:link {
      color: $black;
    }

    &:visited {
      color: $black;
    }

    &:focus {
      border-bottom: 1px solid;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      color: $red;
    }
  }

  .important {
    font-family: 'Alegreya Sans';
    font-weight: bolder
  }

  .important.person {
    font-family: 'Alegreya Sans SC';
  }

  .person {
    font-family: 'Alegreya SC';
  }

  .piece {
    font-style: italic;
  }
}
