@import '~typeface-alegreya/index.css';
@import '~typeface-alegreya-sans/index.css';
@import '~typeface-alegreya-sans-sc/index.css';
@import '~typeface-alegreya-sc/index.css';
@import '~typeface-anonymous-pro/index.css';

@import './globals/_variables.scss';

[baldr-theme="default"] {
  font-family: $font-family;
  font-size: $font-size;
  color: $black;

  h1, h2, h3, h4 {
    font-family: 'Alegreya Sans';
    font-weight: 700;
  }

  code {
    font-family: 'Anonymous Pro';
    background-color: scale-color($gray, $lightness: 50%);
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0.1em;
  }

  a {
    text-decoration: none;

    &:link {
      color: $black;
    }

    &:visited {
      color: $black;
    }

    &:focus {
      border-bottom: 1px solid;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      color: $red;
    }
  }

  .important {
    font-family: 'Alegreya Sans';
    font-weight: bolder
  }

  .important.person {
    font-family: 'Alegreya Sans SC';
  }

  .person {
    font-family: 'Alegreya SC';
  }

  .piece {
    font-style: italic;
  }

  ul.content {
    list-style-type: none;

    & > li {
      text-indent: -1em;
    }

    & > li:before {
      content: "- ";
      text-indent: -1em;
    }
  }

  /**
   * Formts
   */

   input, button {
      display: inline-block;
      padding: 0.2em;
      margin: 0;
    }

    input, button, ::placeholder {
      font-size: inherit;
      font-family: $font-family-sans;
    }

    input {
      border: 1px solid $gray;
    }

    button {
      background-color: $gray;
      border: 1px solid transparent;

      &:active {
        background-color: $blue;
        color: $white;
      }
    }

  /**
   * Colors
   */

   @each $name, $value in $colors {
    .#{$name} {
      background-color: $value;
    }
  }

  @each $name, $value in $colors {
    .#{$name}-light {
      background-color: scale-color($value, $lightness: 50%);
    }
  }

  @each $name, $value in $colors {
    .#{$name}-dark {
      background-color: scale-color($value, $lightness: -50%);
    }
  }
}
