@import url(~typeface-alegreya/index.css);
@import url(~typeface-alegreya-sans/index.css);
@import url(~typeface-alegreya-sans-sc/index.css);
@import url(~typeface-alegreya-sc/index.css);
@import url(~typeface-anonymous-pro/index.css);
[b-theme="default"] {
  font-family: "Alegreya";
  font-size: 1.5vw;
  /* dash only in unordered lists which are marked with .content */
  /**
   * Tables
   */
  /**
   * Forms
   */
  /**
   * Colors
   */
  /* Background color */
  /* Text color */
}

[b-theme="default"], [b-theme="default"][b-dark-mode="false"],
[b-theme="default"][b-dark-mode="false"] #app:fullscreen {
  background-color: #fcfbfb;
  color: #141110;
}

[b-theme="default"][b-dark-mode="true"],
[b-theme="default"][b-dark-mode="true"] #app:fullscreen {
  background-color: #141110;
  color: #fcfbfb;
}

[b-theme="default"] h1, [b-theme="default"] h2, [b-theme="default"] h3, [b-theme="default"] h4 {
  font-family: 'Alegreya Sans';
  font-weight: 700;
}

[b-theme="default"] code {
  font-family: 'Anonymous Pro';
  background-color: #ddd8d6;
  font-weight: normal;
  font-size: 0.8em;
  padding: 0 0.1em;
}

[b-theme="default"] pre {
  background-color: #ddd8d6;
  padding: 0.3em;
  overflow-y: auto;
}

[b-theme="default"] pre code {
  padding: 0;
  background-color: none;
}

[b-theme="default"] a {
  text-decoration: none;
}

[b-theme="default"] a:link {
  color: #141110;
}

[b-theme="default"] a:visited {
  color: #141110;
}

[b-theme="default"] a:focus {
  border-bottom: 1px solid;
}

[b-theme="default"] a:hover {
  opacity: 0.6;
}

[b-theme="default"] a:active {
  color: #e0585b;
}

[b-theme="default"] .important {
  font-family: 'Alegreya Sans';
  font-weight: bolder;
}

[b-theme="default"] .important.person {
  font-family: 'Alegreya Sans SC';
}

[b-theme="default"] .person {
  font-family: 'Alegreya SC';
}

[b-theme="default"] .piece {
  font-style: italic;
}

[b-theme="default"] ul.content {
  list-style-type: none;
}

[b-theme="default"] ul.content li {
  text-indent: -1em;
}

[b-theme="default"] ul.content li:before {
  content: "- ";
  text-indent: -1em;
}

[b-theme="default"] table {
  border-collapse: collapse;
}

[b-theme="default"] thead {
  font-family: 'Alegreya Sans';
  font-weight: bolder;
}

[b-theme="default"] thead tr {
  border-bottom: 2px solid #141110;
}

[b-theme="default"] tbody tr {
  border-bottom: 1px solid #141110;
}

[b-theme="default"] tbody tr:last-child {
  border-bottom: none;
}

[b-theme="default"] input, [b-theme="default"] button {
  display: inline-block;
  padding: 0.2em;
  margin: 0;
}

[b-theme="default"] input, [b-theme="default"] button, [b-theme="default"] ::placeholder {
  font-size: inherit;
  font-family: "Alegreya Sans";
}

[b-theme="default"] input {
  border: 1px solid #bab0ac;
}

[b-theme="default"] button {
  background-color: #bab0ac;
  border: 1px solid transparent;
}

[b-theme="default"] button:active {
  background-color: #4e79a7;
  color: #fcfbfb;
}

[b-theme="default"] .white {
  background-color: #fcfbfb !important;
}

[b-theme="default"] .yellow {
  background-color: #edc958 !important;
}

[b-theme="default"] .orange {
  background-color: #f18f3b !important;
}

[b-theme="default"] .red {
  background-color: #e0585b !important;
}

[b-theme="default"] .brown {
  background-color: #9c755f !important;
}

[b-theme="default"] .gray {
  background-color: #bab0ac !important;
}

[b-theme="default"] .green {
  background-color: #59a14e !important;
}

[b-theme="default"] .blue {
  background-color: #4e79a7 !important;
}

[b-theme="default"] .purple {
  background-color: #af7aa0 !important;
}

[b-theme="default"] .black {
  background-color: #141110 !important;
}

[b-theme="default"] .white-light {
  background-color: #fdfcfc !important;
}

[b-theme="default"] .yellow-light {
  background-color: #f2d98a !important;
}

[b-theme="default"] .orange-light {
  background-color: #f5b176 !important;
}

[b-theme="default"] .red-light {
  background-color: #e98a8c !important;
}

[b-theme="default"] .brown-light {
  background-color: #ba9e8e !important;
}

[b-theme="default"] .gray-light {
  background-color: #cfc8c5 !important;
}

[b-theme="default"] .green-light {
  background-color: #88c17f !important;
}

[b-theme="default"] .blue-light {
  background-color: #81a1c4 !important;
}

[b-theme="default"] .purple-light {
  background-color: #c7a2bd !important;
}

[b-theme="default"] .black-light {
  background-color: #615651 !important;
}

[b-theme="default"] .white-dark {
  background-color: #b7ada9 !important;
}

[b-theme="default"] .yellow-dark {
  background-color: #cda116 !important;
}

[b-theme="default"] .orange-dark {
  background-color: #c4620e !important;
}

[b-theme="default"] .red-dark {
  background-color: #b82226 !important;
}

[b-theme="default"] .brown-dark {
  background-color: #6d5243 !important;
}

[b-theme="default"] .gray-dark {
  background-color: #897872 !important;
}

[b-theme="default"] .green-dark {
  background-color: #3e7137 !important;
}

[b-theme="default"] .blue-dark {
  background-color: #375575 !important;
}

[b-theme="default"] .purple-dark {
  background-color: #824e73 !important;
}

[b-theme="default"] .black-dark {
  background-color: #0e0c0b !important;
}

[b-theme="default"] .text-white {
  color: #fcfbfb !important;
}

[b-theme="default"] .text-yellow {
  color: #edc958 !important;
}

[b-theme="default"] .text-orange {
  color: #f18f3b !important;
}

[b-theme="default"] .text-red {
  color: #e0585b !important;
}

[b-theme="default"] .text-brown {
  color: #9c755f !important;
}

[b-theme="default"] .text-gray {
  color: #bab0ac !important;
}

[b-theme="default"] .text-green {
  color: #59a14e !important;
}

[b-theme="default"] .text-blue {
  color: #4e79a7 !important;
}

[b-theme="default"] .text-purple {
  color: #af7aa0 !important;
}

[b-theme="default"] .text-black {
  color: #141110 !important;
}

[b-theme="default"] .text-white-light {
  color: #fdfcfc !important;
}

[b-theme="default"] .text-yellow-light {
  color: #f2d98a !important;
}

[b-theme="default"] .text-orange-light {
  color: #f5b176 !important;
}

[b-theme="default"] .text-red-light {
  color: #e98a8c !important;
}

[b-theme="default"] .text-brown-light {
  color: #ba9e8e !important;
}

[b-theme="default"] .text-gray-light {
  color: #cfc8c5 !important;
}

[b-theme="default"] .text-green-light {
  color: #88c17f !important;
}

[b-theme="default"] .text-blue-light {
  color: #81a1c4 !important;
}

[b-theme="default"] .text-purple-light {
  color: #c7a2bd !important;
}

[b-theme="default"] .text-black-light {
  color: #615651 !important;
}

[b-theme="default"] .text-white-dark {
  color: #b7ada9 !important;
}

[b-theme="default"] .text-yellow-dark {
  color: #cda116 !important;
}

[b-theme="default"] .text-orange-dark {
  color: #c4620e !important;
}

[b-theme="default"] .text-red-dark {
  color: #b82226 !important;
}

[b-theme="default"] .text-brown-dark {
  color: #6d5243 !important;
}

[b-theme="default"] .text-gray-dark {
  color: #897872 !important;
}

[b-theme="default"] .text-green-dark {
  color: #3e7137 !important;
}

[b-theme="default"] .text-blue-dark {
  color: #375575 !important;
}

[b-theme="default"] .text-purple-dark {
  color: #824e73 !important;
}

[b-theme="default"] .text-black-dark {
  color: #0e0c0b !important;
}

/*# sourceMappingURL=styles.css.map */